.App {
  text-align: center;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.App-header {
  min-height: 101vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Bottom-inner-shadow {
  box-shadow: inset 0 -20px 12px -7px rgba(12,10,9,1);
}

.card_elements{
  display:flex;
  flex-direction:column; 
  justify-content:space-between;
  gap:12px;
  border:1px solid #ebeaec;
  border-radius:24px;
  padding:6px;
}

.arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.executive_i {
  font-size: 100px;
  text-align: center;
  font-weight: 1000;
  letter-spacing: 1px;
  color: #058587;
}

.executive_ii {
  font-size: 30px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 10px;
  line-height: 10%;
  color: #ebeaec;
}

.executive_i1 {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 3;
}

.business_card_elements{
  display:flex;
  flex-direction:column; 
  justify-content:space-between;
  gap:6px;
  border:1px solid #A0E7CB
  ;
  border-radius:10px;
  padding:20px;
  height: 350px;
  width: 250px;
  background-color: #FFFFFF;
}




.bubble{
  position:absolute;
  width:10em;
  height:10em;
  border:1px solid rgba(255,255,255,0.1);
  border-radius:50%;
  background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.4), inset 1em 1em 1em rgba(255, 255, 255, 0.6), 0 1em 2em rgba(0, 0, 0, 0.25);
}
.bubble:hover{
  display:none;
}

.b1{
  animation: floatup 10s linear infinite, sideways 5s ease-in-out infinite alternate;
  background: radial-gradient(ellipse at center,  #058587 0%, rgba(255,255,255,0) 70%);
  left: 10%;
  top:100%; 
}
.b2{
  animation: floatup 5s linear infinite, sideways 4s ease-in-out 1s infinite alternate;
  background: radial-gradient(ellipse at center,  #69b6b7 0%, rgba(255,255,255,0) 70%);
  left: 15%;
  top: 30%;
  transform: scale(.7);
}
.b3{
  animation: floatup 4s linear infinite, sideways 6s ease-in-out 6s infinite alternate;
  background: radial-gradient(ellipse at center,  #82c3e9 0%, rgba(255,255,255,0) 70%);
  left: 20%;
  transform: scale(1.2);
}
.b4{
  animation: floatup 6s linear infinite, sideways 5s ease-in-out 3s infinite alternate;
  background: radial-gradient(ellipse at center,  #9BCECF 0%, rgba(255,255,255,0) 70%);
  left: 25%;
  top:90%;
  transform: scale(.5);
}
.b5{
  animation: floatup 8s linear infinite, sideways 6s ease-in-out 3s infinite alternate;
  background: radial-gradient(ellipse at center,  #A0E7CB 0%,rgba(255,255,255,0) 50%);
  left: 30%;
  top:30%;
  transform: scale(1.1);
}
.b6{
  animation: floatup 7s linear infinite, sideways 4s ease-in-out 3.5s infinite alternate;
  left:40%;
  top:50%;
  transform: scale(.7);
}
.b7{
  animation: floatup 6s linear infinite, sideways 5s ease-in-out 4s infinite alternate;
  left: 90%;
  top:90%;
  transform: scale(.6);
}
@keyframes floatup{
  0% {margin-top: 50%;}
  100% {margin-top: -50%;}
}
@keyframes sideways{
  0% {margin-left: 0em;}
  100%{margin-left: 20em;}
}